.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

/* Define styles for active images */
.active {
  border: 2px solid gray;
  border-radius: 12px;
}

img.active {
  cursor: pointer;
}

