.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

/* Define styles for active images */
.active {
  border: 2px solid gray;
  border-radius: 12px;
}

img.active {
  cursor: pointer;
}

/* PriceSlider.css */

.slider {
  -webkit-appearance: none; /* Remove default styles */
  width: 100%; /* Full-width */
  height: 1px; /* Specified height */
  background: #d3d3d3; /* Gray background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set opacity */
  -webkit-transition: 0.2s; /* 0.2 second transition on hover */
  transition: opacity 0.2s; /* 0.2 second transition on hover */
}

/* Styling for the slider handle */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styles */
  appearance: none; /* Remove default styles */
  width: 10px; /* Set width */
  height: 10px; /* Set height */
  border-radius: 50%; /* Make it round */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 10px; /* Set width */
  height: 10px; /* Set height */
  border-radius: 50%; /* Make it round */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* responsive filter section  */

.filter-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .filter-section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.filter-section .filter-item {
  margin-bottom: 10px; /* Adjust as needed */
}
